<h1>회전 스와이프 + OnPush</h1>
<ul>
  <li>초기 인덱스 설정</li>
  <li>커스텀 페이지네이션</li>
  <li>ChangeDetectionStrategy.OnPush</li>
</ul>
<button (click)="changePanelContents()">패널 내용 변경</button
>&nbsp;&nbsp;&nbsp; <label for="panel_count">패널 수 변경</label>&nbsp;
<select name="panelCount" id="panel_count" (change)="changePanelCount($event)">
  <option *ngFor="let num of [1, 2, 3, 4, 5]" [value]="num">{{ num }}</option>
</select>
<br /><br />
<swiper-container
  init="false"
  [options]="options"
  [paginationEl]="pagination"
  (addEvents)="addEvents($event)"
  [ngStyle]="{ width: '200px', marginLeft: 0 }"
>
  <swiper-slide *ngFor="let num of numbers">
    <img src="https://via.placeholder.com/150?text={{ num }}" />
  </swiper-slide>
</swiper-container>
<div #pagination></div>
