<div [ngStyle]="{ display: 'flex', gap: '50px' }">
  <div>
    <h2>기본 스와이프</h2>
    <ul>
      <li>
        <a routerLink="default/cd-always">ChangeDetectionStrategy.None</a>
      </li>
      <li>
        <a routerLink="default/on-push">ChangeDetectionStrategy.OnPush</a>
      </li>
      <li><a routerLink="default/rxjs">OnPush + Rxjs</a></li>
      <li><a routerLink="default/rxjs-sticky">스티키 + bullet + 화살표</a></li>
    </ul>
  </div>
  <div>
    <h2>회전 스와이프</h2>
    <ul>
      <li>
        <a routerLink="loop/cd-always">ChangeDetectionStrategy.None</a>
      </li>
      <li>
        <a routerLink="loop/on-push">ChangeDetectionStrategy.OnPush</a>
      </li>
      <li><a routerLink="loop/rxjs">OnPush + Rxjs</a></li>
      <li><a routerLink="loop/rxjs-child">OnPush + Rxjs + 자식컴포넌트</a></li>
      <li><a routerLink="loop/rxjs-track">OnPush + Rxjs + trackBy 함수</a></li>
      <li>
        <a routerLink="loop/rxjs-remove">OnPush + Rxjs + removeAllSlides</a>
      </li>
      <li><a routerLink="loop/rxjs-sticky">스티키 + bullet + 화살표</a></li>
    </ul>
  </div>
</div>
<br /><br />
<hr />
<br /><br />
<router-outlet></router-outlet>
